  .contenedor {
    background-color: #3498db;
    padding: 20.0px;
    border-radius: 8.0px;
    color: white;
  }

  .tarjeta {
    background-color: white;
    padding: 25.0px;
    margin: @espaciado 0;
    border-radius: 5.0px;
    box-shadow: 0 4.0px 15.0px rgba(0,0,0,0.1);
    color: #666;
    line-height: 1.5px;
  }

    .tarjeta .h2 {
      color: #3498db;
      font-size: 20.0px;
    }
